

body {
    
    max-width: 100%;
    margin: 0 auto;
    max-height: 100%;}


#header {
    margin: 0; 
    height: 2vh;
    color: black;
    
}
#quoteLink{
    color: white;
    font-style: italic;
}

.buttonImage {
    text-align: center;
}

p {
    text-align: center;
    color: #102C57;
    font-weight: bold;
    font-size: large;
    padding: 0;
}

.button {
    font-size: larger;
    color: whitesmoke;
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#buttonQuote {
    padding: 0;
    background-color: aliceblue;
    color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #186F65;
    height: 10vh;
    margin: auto;
    padding: 0;
    
}

img{
    max-width: 100%; 
    height: auto; 
    margin-bottom: 5vh;
}


#quotePage {
background: url(./assets/quote.jpg) no-repeat center center;
    background-size: cover; 
    height:80vh;
}



#quoteDisplay {
    color: white;
    font-weight: bolder;
    
    padding: 10% 0;
    text-align: center;
    font-size: x-large;
    
}


footer{
    height:1vh;
}



.scrollable-container {
    height: 100vh;     
    overflow-y: auto;
}



